@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body{
  font-family: 'Montserrat';
  font-weight: 400;
  @apply text-gray-700;
}

header, nav{
  font-family: 'Inconsolata';
}

#logo-text{
  font-family: 'Inconsolata';
  font-weight: 400;
}

.menu-link{
  font-family: 'Inconsolata';
}

.menu-link.active{
  font-weight: 700;
}

footer{
  font-family: 'Inconsolata';
}

/* Login page */
.login-page{
  font-family: 'Inconsolata';
}